@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(17, 17, 143);
}
.about__container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  min-height: 100vh;
}

.about__card {
  z-index: 1;
  max-width: 500px;
  max-height: 642px;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 6fr;
  grid-column: 2/5;
  grid-row: 1/6;
  height: 90%;
  background-image: linear-gradient(
    #87cefab0,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6)
  );
  border-radius: 10px;
  box-shadow: 0 0 0 8px rgba(255, 192, 203, 0.1),
    20px 20px 50px rgba(0, 0, 0, 0.2);
}

.about__head {
  width: 100%;
  height: 25%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-row: 2;
}

.about__avatar {
  opacity: 85%;
  z-index: 1;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.45);
  width: 100px;
  height: 100px;
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
}
.about__name {
  grid-row: 3;
}

.about__name > h1 {
  margin-bottom: 0;
}

.about__name > p {
  margin: 7px 0 0 0;
}

.about__main {
  width: 90%;
  grid-row: 4;
  display: grid;
  align-content: start;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 10px;
}

.about__main > h3 {
  margin-bottom: 0;
}

.about__main > p {
  font-size: 16px;
}

.button__container {
  width: 100%;
  height: 45%;
  min-height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: start;
  grid-row: 1;
}

.button__container > div {
  height: 100%;
  display: grid;
  align-items: center;
  align-self: end;
  min-height: 50px;
}

.aboutButton__about {
  border-top: 4px solid rgba(255, 255, 255, 0.6);
  border-top-left-radius: 10px;
}
.aboutButton__skills {
}
.aboutButton__contact {
  border-top-right-radius: 10px;
}

.button__container > div:hover {
  border-top: 4px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

@media only screen and (max-width: 642px) {
  .about__name {
    font-size: 15px;
  }

  .about__main {
    font-size: 14px;
  }
  .about__main > p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  .about__card {
    min-width: 290px;
  }
  .about__name {
    font-size: 14px;
  }
  .about__main > p {
    font-size: 14px;
  }
}
