.App {
  text-align: center;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(rgb(138, 31, 138), rgb(17, 17, 143));
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.pink__box {
  position: absolute;
  margin: 10%;
  width: 45%;
  height: 45%;
  background-color: hsl(310, 100%, 75%);
  border-radius: 50%;
  box-shadow: -80px 30px 40px hsl(0, 100%, 75%);
  filter: blur(40px);
  -webkit-animation: myOrbit 40s linear infinite;
  -moz-animation: myOrbit 40s linear infinite;
  -o-animation: myOrbit 40s linear infinite;
  animation: myOrbit 40s linear infinite;
  overflow: hidden;
}

.aqua__box {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 25%;
  height: 45%;
  background-color: hsl(187, 100%, 75%);
  border-radius: 50%;
  box-shadow: -80px 30px 40px hsl(204, 100%, 75%);
  filter: blur(40px);
  overflow: hidden;
  -webkit-animation: myOrbit 40s linear infinite;
  -moz-animation: myOrbit 40s linear infinite;
  -o-animation: myOrbit 40s linear infinite;
  animation: myOrbit 40s linear infinite;
}

.purple__box {
  position: absolute;
  margin: 10%;
  left: 40%;
  width: 25%;
  height: 25%;
  background-color: hsl(241, 100%, 75%);
  border-radius: 50%;
  box-shadow: -80px 30px 40px hsl(66, 100%, 75%);
  filter: blur(40px);
  overflow: hidden;
  -webkit-animation: myOrbit 40s linear infinite reverse;
  -moz-animation: myOrbit 40s linear infinite reverse;
  -o-animation: myOrbit 40s linear infinite reverse;
  animation: myOrbit 40s linear infinite reverse;
}

@-webkit-keyframes myOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

@-moz-keyframes myOrbit {
  from {
    -moz-transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

@-o-keyframes myOrbit {
  from {
    -o-transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

@keyframes myOrbit {
  from {
    transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}
